Binaries
DerivedDataCache
Intermediate
Saved
Plugins
.vscode
.vs
*.VC.db
*.opensdf
*.opendb
*.sdf
*.sln
*.suo
*.xcodeproj
*.xcworkspace
Content/Geometry/Meshes
Content/ThirdPerson/Meshes
Content/Deko_MatrixDemo
Content/IndustryPropsPack6
Content/LPGenericPropsSet*
Apartment.png
Content/SpaceshipInterior